{% extends "base.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% block body %}

<div class="container d-flex justify-content-center align-items-center vh-100">
    <div>
        <a href="/home" class="btn btn-light" style="position: absolute; top: 0; left: 0;">
            <i class="fas fa-home"></i>
        </a>
        <h4 class="text-center">
            <strong>Login</strong>
        </h4>
        <hr>

        <form method="POST">
            <div class="form-group">
                {{ render_field(form.email, class="form-control narrow-input") }}
            </div>
            <div class="form-group">
                {{ render_field(form.password, class="form-control narrow-input") }}
            </div>

            <button type="submit" class="btn btn-primary btn-block" style="background-color: #49d48a; color: #fff;">Login</button>
        </form>

        <hr>

        <p class="text-center">
            <a href="/home/register" style = color:#000; > Sign up</a>
        </p>
    </div>
</div>

{% endblock body %}