{% extends 'base.html' %}

{% block body %}
<div class="container">
    <a href="/" class="btn btn-light" style="position: absolute; top: 0; left: 0;">
        <i class="fas fa-home"></i>
    </a>
    <h1>Rezerwacja zakończona sukcesem!</h1>
    <div>
        <h2>Szczegóły rezerwacji:</h2>
        <p><strong>Film:</strong> {{ reservation.film_title }}</p>
        <p><strong>Kino:</strong> {{ reservation.cinema_name }}</p>
        <p><strong>Data:</strong> {{ reservation.data_seansu }}</p>
        <p><strong>Godzina:</strong> {{ reservation.godzina }}</p>

        <h3>Zarezerwowane Miejsca:</h3>
        <ul>
            {% for row, seat in seat_details %}
                <li>Rząd: {{ row }}, Miejsce: {{ seat }}</li>
            {% endfor %}
        </ul>

        <h3>Bilet:</h3>
        <img src="{{ qr_data_url }}" alt="QR Code">
    </div>
</div>
{% endblock %}