{% extends "base.html" %}

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

{% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <ul>
          {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
{% endwith %}
{% block body %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <a href="http://127.0.0.1:8000/" class="btn btn-light" style="position: absolute; top: 0; left: 0;">
        <i class="fas fa-home"></i>
</a>
    <div class="col-md-6">

      <h2 class="text-center">Contact Us</h2>
      <hr>
      <form method="POST">
        {{ render_field(form.name, class="form-control mb-3") }}
        {{ render_field(form.email, class="form-control mb-3") }}
        {{ render_field(form.topic, class="form-control mb-3") }}
        <textarea name="{{ form.text.name }}" class="form-control mb-5" style="height: 200px;" placeholder="Enter your message here"></textarea>        <button type="submit" class="btn btn-primary btn-block" style="background-color: #49d48a; color: #fff;">Send</button>
    </form>
    </div>
  </div>
</div>
{% endblock %}