{% extends 'base.html' %}

{% block body %}
<div class="container">
    <h1>Płatność</h1>
    <p>Czy zapłaciłeś?</p>
    <form id="confirmationForm" action="{{ url_for('payment_confirmation') }}" method="post">
        <input type="hidden" name="reservation_id" value="{{ reservation_id }}">
        <input type="hidden" name="total_cost" value="{{ total_cost }}">
        <input type="hidden" id="confirmation" name="confirmation" value="yes">
        <button type="submit" name="confirmation" value="yes" class="btn btn-success" onclick="document.getElementById('confirmation').value='yes'">Tak</button>
        <button type="submit" name="confirmation" value="no" class="btn btn-danger" onclick="document.getElementById('confirmation').value='no'">Nie</button>
    </form>
</div>

<script type="text/javascript">
    window.onload = function() {
        setTimeout(function() {
            document.getElementById('confirmation').value = 'no';
            document.getElementById('confirmationForm').submit();
        }, 15000); // 15 seconds
    };
</script>
{% endblock %}
