{% extends "base.html" %}

{% block body %}
<div class="container mt-5">
    <a href="http://127.0.0.1:8000/" class="btn btn-light" style="position: absolute; top: 20px; left: 20px;">
        <i class="fas fa-home"></i> Home
    </a>
    <div class="row">
        <div class="col-md-12">
            <div class="card border-primary h-100">
                <div class="card-header bg-primary text-white" style="background-color: #baead1;">
                    Moje rezerwacje
                </div>
                <div class="card-body">
                    {% if reservations %}
                        {% for reservation in reservations %}
                            <div class="reservation-detail mb-3 p-3 border rounded">
                                <p><strong>ID Rezerwacji:</strong> {{ reservation.id_rezerwacji }}</p>
                                <p><strong>Tytuł filmu:</strong> {{ reservation.film_title }}</p>
                                <p><strong>Liczba miejsc:</strong> {{ reservation.ilosc_miejsc }}</p>
                                {% if reservation.rzad and reservation.numer %}
                                    <p><strong>Rząd i miejsce:</strong> {{ reservation.rzad }} - {{ reservation.numer }}</p>
                                {% endif %}
                                <p><strong>Data:</strong> {{ reservation.data_seansu }}</p>
                                <p><strong>Godzina:</strong> {{ reservation.godzina }}</p>
                                <p><strong>Kino:</strong> {{ reservation.cinema_name }}</p>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p>Brak rezerwacji.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<style>
    .reservation-detail {
        background-color: #f9f9f9;
    }
    .card-header {
        background-color: #baead1 !important;
    }
</style>
