{% extends 'base.html' %}

{% block body %}
<div class="container">
    <a href="/" class="btn btn-light" style="position: absolute; top: 0; left: 0;">
        <i class="fas fa-home"></i>
    </a>
    <h1 class="mt-5">Wybierz film</h1>
    <div class="row mt-4">
        {% for film in films %}
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="movie-card" style="height: 450px;">
                <div class="card">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ film.tytul }}</h5>
                        <div class="card-text flex-grow-1">
                            <p><strong>Reżyser:</strong> {{ film.rezyser }}</p>
                            <p><strong>Gatunek:</strong> {{ film.gatunek }}</p>
                            <p><strong>Język:</strong> {{ film.jezyk }}</p>
                            <p><strong>Napisy:</strong> {{ 'Tak' if film.napisy else 'Nie' }}</p>
                            <p><strong>Rok wydania:</strong> {{ film.rok_wydania }}</p>
                            <p><strong>Czas trwania:</strong> {{ film.czas_trwania }} minut</p>
                        </div>
                        <form action="{{ url_for('pick_cinema') }}" method="post" class="mt-2">
                            <input type="hidden" name="id_filmu" value="{{ film.id_filmu }}">
                            <button type="submit" class="btn btn-primary">Wybierz</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% if not films %}
    <p>No films found.</p>
    {% endif %}
</div>

<style>
    .movie-card {
        position: relative;
        overflow: hidden;
    }

    .movie-card .card-title {
        text-align: center;
        transition: opacity 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
        margin: 0;
    }

    .movie-card .card-body {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .movie-card .card-text {
        flex-grow: 1;
        background-color: rgba(255, 255, 255, 0.9);
        transition: opacity 0.3s ease;
        padding: 20px;
        opacity: 1;
        margin-bottom: auto;
    }
</style>
{% endblock %}
