{% extends "base.html" %}

{% block body %}

<header class="my-4">
    <h1 class="display-4 text-center">Cinema Booking System</h1>

    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #baead1; ">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto d-flex">
                {% if session.logged and session.user %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                    <li class="nav-item"><a class="nav-link" href="/buy">Buy Ticket</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user_information">Account Information</a></li>
                {% elif session.logged and session.admin %}
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                    <li class="nav-item"><a class="nav-link" href="/admin">Manage</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/register">Sign up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movie 1</h5>
                <p class="card-text">Description of Movie 1.</p>
                <a href="#" class="btn btn-primary" style="background-color: #baead1; color: black;">Book Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body" >
                <h5 class="card-title">Movie 2</h5>
                <p class="card-text">Description of Movie 2.</p>
                <a href="#" class="btn btn-primary" style="background-color: #baead1; color: black;">Book Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movie 3</h5>
                <p class="card-text">Description of Movie 3.</p>
                <a href="#" class="btn btn-primary" style="background-color: #baead1; color: black;">Book Now</a>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Movie 4</h5>
                <p class="card-text">Description of Movie 4.</p>
                <a href="#" class="btn btn-primary" style="background-color: #baead1; color: black;">Book Now</a>
            </div>
        </div>
    </div>
</div>


{% endblock body %}